@model TicketsApps.Models.TicketModel
@{
    ViewData["Title"] = "TicketView";
}
@Html.Partial("_TicketPdf", Model)
@using (Html.BeginForm())
{
    @Html.HiddenFor(c => c.Email)
    @Html.HiddenFor(c => c.Name)
    @Html.HiddenFor(c => c.Phone)
    @Html.HiddenFor(c => c.TicketDate)
    @Html.HiddenFor(c => c.TicketNumber)

    <div class="form-group">
        <div class="col-md-10 pull-right">
            <button type="submit" value="Save" class="btn btn-sm">
                <i class="fa fa-plus"></i>
                <span>
                    Download Pdf
                </span>
            </button>
        </div>
    </div>
}